<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-sm-12">
      <div class="jumbotron text-center">
        <h1 class="display-3">ng2-adsense</h1>
        <p class="lead">Angular Adsense Component</p>
        <p class="lead">
          <a class="btn btn-secondary btn-lg" href="https://github.com/scttcper/ng2-adsense" role="button">GitHub</a>
          <a class="btn btn-secondary btn-lg" href="https://www.npmjs.com/package/ng2-adsense" role="button">NPM</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-sm-12">
      <h3>Preview:</h3>
      <h5 class="text-danger">Disable adblock for demo</h5>
      <p>Demo of adsense ad loading on route change. Sometimes a blank or identical ad is displayed.</p>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/1'" routerLinkActive="active">Page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/2'" routerLinkActive="active">Page 2</a>
        </li>
      </ul>
      <div style="height:200px;">
        <router-outlet></router-outlet>
      </div>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
      Demo running on Angular {{ version.full }}
    </div>
  </div>
</div>
